
body {
  font-family: Arial, sans-serif;
}
table {
  width: 50%;
  border-collapse: collapse;
}
 td {
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background-color: #2C3E50;
  color: #fff;
  font-weight: bold;
}
.time-column {
  background-color: #373f47;
  font-weight: bold;
  color: white;

}
.class-box {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
}
.red { background-color: #e74c3c; }
.green { background-color: #2ecc71; }
.purple { background-color: #9b59b6; }
.blue { background-color: #3498db; }
